<!DOCTYPE html>
<html>

<head>
  <title>SHOES</title>
  <meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="../app.css" type="text/css">
</head>

<body>
  <div class="header">
    <div class="imhold"> <img class="logiIm"  alt="logo" src="images/shoes3.png"></div>
    <div class="navhold">
      <div class="topnav" id="navbar"><a href="/">Home</a>
      <a href="/reviews">Reviews</a>
      <a href="/products">Products</a>
      <a href="/contacts">Contacts</a>
      <a href="/faqs">FAQS</a>
      <a href="/addcontact">Contact us</a>
       
      </div>
    </div>
  </div>
  
  </body>

</html>