<!DOCTYPE html>
<html>

<head>
  <title>My App for Liam</title>
  <link rel="stylesheet" href="../app.css" type="text/css">
</head>

<body>
  <div class="header">
    <div class="imhold"> <img class="logiIm"  alt="logo" src="images/shoes3.png"></div>
    <div class="navhold">
      <div class="topnav"><a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/contacts">Contacts</a>
      <a href="/faqs">FAQS</a>
          <a href="/addcontact">Contact us</a>
       
      </div>
    </div>
  </div>
  
  </body>

</html>