<% include ../partials/header %>

<div class="row">
  <h1>Welcome to the add products page  <br>
  <div class="grid-container">
        
            <form accept-charset="UTF-8" action="/add" method="post">    
                <div class="item">
                  <label for="name">Name</label>
                    <input name="name" type="text" placeholder="Enter name" />
                  
                  
                  <label for="price">Comment</label>
                    <input name="comment" type="text" placeholder="Enter comment" />
                    
                   
                   <label for="image">Email</label> 
                    <input name="email" type="text" placeholder="Enter email" />
                    
                   
<button class="button">Add</button>
                    
                   
                    </div>
              </form>
      
         
         
    </div>
  </h1>
</div>


<label for="sport">Sport:</label>







<% include ../partials/footer %>
