<% include ../partials/header %>
  <body style="background-image:url(/notebook.jpg)">
  <div>
    <h1>Phone Number: 696969696969</h1>
</div>

<div>
    <h1>E-mail: shoes123@gmail.com</h1>
</div>

<div>
    <h1>Leave an enquiry</h1>
    
    <div class="w3-center">
  <h2>Append</h2>
  <p class="w3-large">Append items to a list!</p>
</div>
<br>

<div class="w3-row w3-border">
  <div class="w3-half w3-container w3-blue w3-border">
    <h5>Here is a list</h5>  
    <ol>
  <li>Gerry: - I like this</li>
  <li>Denitsa: - jQuery is great!</li>
 
</ol>
<input type="text" id="comment" name="comment" placeholder="Leave a Comment..">
<button id="putUp" class="w3-btn w3-theme">Post</button> 

  </div>
  </div>
    
    
    
    
    
    
         
         
       </div>
    </div>
    <script> 
    $(document).ready(function(){
	$("#putUp").click(function(){
		$("ol").append("<li>Owen: " + comment.value + "</li>")
		
		});
		});
    
    </script>
    
    </div>
    
    
    
    
    
    
    
    
    
   
</div>

</body>
 

<% include ../partials/footer %>