<% include ../partials/header %>
  <body style="background-image:url(/notebook.jpg)">
  <div>
    <h1>Phone Number: 6666666666666</h1>
</div>

<div>
    <h1>E-mail: shoes123@gmail.com</h1>
</div>


    
   
</div>

</body>
 

<% include ../partials/footer %>