<% include ../partials/header %>
  <body style="background-image:url(/notebook.jpg)">
    
    
    

    
  <div id="contactsdiv">


<center>
<div id="menu"style="margin-top:10px;">

    <h2>Phone Number: 085-8207854</h2>
    <br>
    <h2>E-mail: axelsteel@gmail.com</h2>
    <br>
   



</body>
 

<% include ../partials/footer %>