  <% include ../partials/header %>

<div class="row">
  <h1 id="inputBoxes">Welcome to the add products page 
  
  <br>
  
            <form id= "form" accept-charset="UTF-8" action="/createproduct" method="post" style="background-color:#cccccca8;">    
                <div class="item" style="border-width:10px;" id="formDiv">
                    
            
                    
                  <label for="name">Name</label>
                  <br>
                    <input name="name" type="text" placeholder="Enter name" id= "createName"/>
                  
                  <br><br>
                  
                  <label for="brand">Brand</label>
                  <br>
                    <input name="brand" type="text" placeholder="Enter brand" id= "createBrand"/>
                    
                    <br><br>
                    
                     <label for="price">Price</label>
                     <br>
                    <input name="price" type="text" placeholder="Enter price" id="createPrice"/>
                    
                    <br><br>
                    
                     
              
                   
<button class="button">Make new product</button>
                    
                   
                    </div>
              </form>
      
         
         
    
  </h1>
</div>







<% include ../partials/footer %>