  <% include ../partials/header %>

<div class="row">
  <h1>Welcome to the add products page  <br>
  
   <div class="col-lg-12"><h2 style="color:black;  margin-left:400px;height:42px;">Search for the shoes you want to purchase here</h2></div>
  
    <div class="col-lg-12" style="margin-left:10px; margin-left:180px; height:100px;">
        <img src="nikeshoes.png" style="width:240px; margin-left:-600px; height:170px;"></div>
        <img src="vansshoes.jpg" style="width:250px; margin-top:-70px;  margin-left:420px; height:148px;">
  
  <div class="grid-container" style="border-width:1px; border-style:solid; border-color:black; width:430px; margin-left:510px; margin-top:250px;">
      
        <img src="adidasshoes.png" style="width:236px; margin-top:-70px;  margin-left:380px; margin-top:-692px;">
            
            <div id="shoesinfo" style="width:800px; height:250px; margin-top:-258px; background-color:white; margin-left:-180px;">
                
                <div style="background-color:#18084c; width:230px; height:248px;">
                <h4 style="font-size:25px; align:top; line-height:32px; font-size:20px;">Our Nike shoes collection </h4>
                 <center>
                 <br/>
                 Lunar
                 <br/>
                 Koston
                 <br/>
                 Presto
                 </center>
                </div>
                
                <div style="background-color:#491b2d; width:230px; height:248px; margin-left:295px; margin-top:-248px;">
                <h4 style="font-size:25px; align:top; line-height:32px; font-size:20px;">Our Vans shoes collection </h4>
                <center>
                 <br/>
                 Skate
                 <br/>
                 Hitop
                 <br/>
                 Diamo
                 </center>
                </div>
                

                
                <div  style="background-color:#0e401b; width:230px; height:248px; margin-left:568px; margin-top:-248px;">
                <h4 style="font-size:25px; align:top; line-height:32px; font-size:17px;">Our Adidas shoes collection </h4>
               <center>
                 <br/>
                 Ultraboost
                 <br/>
                 Tiro
                 <br/>
                 Predator
                 </center>
                </div>
                
                
                
            </div>
               
            <form accept-charset="UTF-8" action="/createproduct" method="post" style="background-color:#cccccca8;">    
                <div class="item" style="border-width:10px;">
                    
            
                    
                  <label for="name">Name</label>
                    <input name="name" type="text" placeholder="Enter name" />
                  
                  
                  <label for="price">brand</label>
                    <input name="brand" type="text" placeholder="enter brand" />
                    
                     <label for="id">brand</label>
                    <input name="id" type="text" placeholder="enter id" />
                    
                   
              
                   
<button class="button">Search</button>
                    
                   
                    </div>
              </form>
      
         
         
    </div>
  </h1>
</div>







<% include ../partials/footer %>