
<% include ../partials/header %>

<body style="background-image:url(/suede.jpg)">
    
    
<form id="form" name="myForm">
  First name:<br>
  <input type="text" name="firstname" id="fname"><br>
  <p id="alert1" class"alertx"></p>
  <br>
  E-mail:<br>
  <input type="email" name="email" style="width: 600px" id="email">
  <p id="alert2" class"alertx"></p>
  <br>
  Query<br>
  <input type="text" name="textbox" style="width: 600px">
  <br>
  <br>
  <a onclick="submitForm()" id="submitButton"> Submit <i class='fas fa-arrow-circle-right'></i> </a>
  
</form>





<script>
    
    
    
    
    
    function submitForm(){
//alert("W")

//code to verify name input
//alert(x); testing
var x = document.getElementById("fname").value;

if(x==""){
document.getElementById("alert1").innerHTML = "Name can not be blank";
}


else if(/\S+/.test(x)) {
document.getElementById("alert1").innerHTML = "Confirmed!";

}
//code to verify the email address
var y = document.getElementById("email").value;
var result = (/@/.test(y))

if (result == false){
document.getElementById("alert2").innerHTML = "invalid email";
}

else if (result == true){
document.getElementById("alert2").innerHTML = "Valid email";
}



}
</script>

<br><br><br>











<div id="faqs">
<div>
    <h1>Where are you located?</h1>
    <h1>we are located...............................................</h1>
</div>

<div>
    <h1>Can I order online?</h1>
    <h1>ye</h1>
</div>

<div>
    <h1>What are your opening hours?</h1>
    <h1>24/7  boi</h1>
</div>

<div>
    <h1>Can I get a refund?</h1>
    <h1>no</h1>
</div>
</div>
  
</body>
  
  
<% include ../partials/footer %>