
<% include ../partials/header %>

<body style="background-image:url(/steps.jpg);">
    
  
 <div id="validationBox">
     
     <h4 style="color:white;">Please fill in the boxes below:</h4>
   
<form id="form" name="myForm">
  Name:<br>
  <input type="text" name="firstname" id="fname" placeholder="Name"><br>
  <p id="alert1" class"alertx"></p>
  <br>
  E-mail:<br>
  <input type="email" name="email" id="email" placeholder="Please enter a valid e-mail address">
  <p id="alert2" class"alertx"></p>
  <br>
  Query:<br>
  <textarea type="text" name="textbox" id="query" placeholder="Enter Query"></textarea>
  <p id="alert3" class"alertx"></p>
  <br>
  <br>
  <a onclick="submitForm()" id="submitButton"> Submit <i class='fas fa-arrow-circle-right'></i> </a>
  
</form>
<br><br><br><br>
</div>



<script>
    
    function submitForm(){
//alert("W")

//code to verify name input
//alert(x); testing
var x = document.getElementById("fname").value;

if(x==""){
document.getElementById("alert1").innerHTML = "<i class='fas fa-times-circle'></i>  Name can not be blank";
window.alert("Please fill in the required feilds (name) properly");
}


else if(/\S+/.test(x)) {
document.getElementById("alert1").innerHTML = "<i class='fas fa-check-circle'></i> Valid name";

}
//code to verify the email address///////////////////////////////

var y = document.getElementById("email").value;
var result = (/@/.test(y))

if (result == false){
document.getElementById("alert2").innerHTML = "<i class='fas fa-times-circle'></i> Invalid email  ";
window.alert("Please fill in the required feilds (e-mail) properly")
}

else if (result == true){
document.getElementById("alert2").innerHTML = "<i class='fas fa-check-circle'></i> Valid email!  ";
}


/*CODE TO VARIFY AND VALIDATE QUERY**************************************/

var z = document.getElementById("query").value;

if(z==""){
document.getElementById("alert3").innerHTML = "<i class='fas fa-times-circle'></i> You did not enter a query ";
window.alert("Please fill in the required feilds (query) properly");
}


else if(/\S+/.test(x)) {
document.getElementById("alert3").innerHTML = "<i class='fas fa-check-circle'></i> Your query has been successfully submitted! ";

}







}
</script>

<br><br>


<div id="faqs">
<div>
    <h1>Where are you located?</h1>
    <h1>we are located...............................................</h1>
</div>

<div>
    <h1>Can I order online?</h1>
    <h1>ye</h1>
</div>

<div>
    <h1>What are your opening hours?</h1>
    <h1>24/7  boi</h1>
</div>

<div>
    <h1>Can I get a refund?</h1>
    <h1>no</h1>
</div>
</div>
  
</body>
  
  
<% include ../partials/footer %>