
<% include ../partials/header %>

<body style="background-image:url(/suede.jpg)">
    
    
<form id="form" name="myForm" action="/submitted.ejs">
  First name:<br>
  <input type="text" name="firstname" id="fname"><br>
  <p id="alert1" class"alertx"></p>
  <br>
  E-mail:<br>
  <input type="email" name="email" style="width: 600px" id="email">
  <p id="alert2" class"alertx"></p>
  <br>
  Query<br>
  <input type="text" name="textbox" style="width: 600px">
  <br>
  <br>
  <input type="submit" value="Submit" onclick="submitForm">
  
</form>


<br><br><br>











<div id="faqs">
<div>
    <h1>Where are you located?</h1>
    <h1>we are located...............................................</h1>
</div>

<div>
    <h1>Can I order online?</h1>
    <h1>ye</h1>
</div>

<div>
    <h1>What are your opening hours?</h1>
    <h1>24/7  boi</h1>
</div>

<div>
    <h1>Can I get a refund?</h1>
    <h1>no</h1>
</div>
</div>
  
</body>
  
  
<% include ../partials/footer %>