<!DOCTYPE html>
<html>

<head>
  <title>Project</title>
  <link rel="stylesheet" href="../app.css" type="text/css">
</head>

<body>
  <div class="header">
    <div class="imhold"><img class="logiIm" id="theLogo" alt="logo" src="/logo.png"></div>
    <div class="navhold">
      <div class="topnav"><a href="/">Home</a>
      <a href="/index">Home</a>
      <a href="/products">Products</a></a>
      <a href="/reviews">Reviews</a>
      <a href="/offers">Special Offers</a>
      <a href="/contacts">Contacts</a>
      <a href="/faqs"></a>
      </div>
    </div>
  </div>

<div>
    <h1>Where are you located?</h1>
    <h1>we are located...............................................</h1>
</div>

<div>
    <h1>Can I order online?</h1>
    <h1>ye</h1>
</div>

<div>
    <h1>What are your opening hours?</h1>
    <h1>24/7  boi</h1>
</div>

<div>
    <h1>Can I get a refund?</h1>
    <h1>no</h1>
</div>
  
  
  
  
 <div class="footer">
    <p>Liam Made this Node JS Application</p>
  </div>
</body>

</html>