<% include ../partials/header %>

<body style="background-image:url(/court.jpg)">

  <script>
    
    $(document).ready(function(){
$("#toggleDown").click(function(){
 $("#face").slideToggle(1000);


});
});
  </script>
  
  <br><br><br><br><br><br><br><br>
  <div id="face" style= "display:none; height:500px; background:#555;width:100%;">
    
    <center>
<div id="menu"style="margin-top:10px;">
  <div class="row" style="border-width:2px; height:100px;">
    <div class="col-sm" style="margin-top:150px;" >
      <a id="nike" href ="/nike"><img src="nike.png" height="200" /></a>
      <center><h3 style="color:white;">Nike</h3></center>
    </div>
    <div class="col-sm" style="margin-top:150px;">
       <a id="vans" href="/vans"><img src="newvans.jpg" height="200" width+"3250" /></a>
     <center><h3 style="color:white;">Vans</h3></center>
    </div>
    <div class="col-sm" style="margin-top:150px;">
       <a id="adidas" href ="/adidas"><img src="adidaslogo.png" height="200" /></a>
     <center><h3 style="color:white;">Adidas</h3></center>
    </div>
  </div>
</div>
</center>
    
    
    
    
  </div>
  
  
<button style="padding-top:100px" type="button" class="btn btn-secondary btn-lg btn-block" id="toggleDown">Our Brands</button>







</body>

<% include ../partials/footer %>

  
 