<% include ../partials/header %>

<body style="background-image:url(/court.jpg)">
  <script>
    
    $(document).ready(function(){
$("#toggleDown").click(function(){
 $("#menu").slideToggle(2000);


	});
});
  </script>
  
<!--BUTTON TO TOGGLE JQUERY FUNCTION-->
<button type="button" class="btn btn-secondary btn-lg btn-block" id="toggleDown">Our Brands</button>
<!-- DIV THAT WILL SLIDE DOWN UPON CLICKING THE ABOVE -->
<center>
<div id="menu"style="margin-top:10px; display:none;">
  <div class="row" style="border-width:2px; height:100px;">
    <div class="col-sm" style="margin-top:150px;" >
      <img src="nike.png" height="200" />
      <center><h3 style="color:white;">Nike</h3></center>
    </div>
    <div class="col-sm" style="margin-top:150px;">
       <img src="puma.png" height="200" />
     <center><h3 style="color:white;">Puma</h3></center>
    </div>
    <div class="col-sm" style="margin-top:150px;">
       <img src="adidas.png" height="200" />
     <center><h3 style="color:white;">Adidas</h3></center>
    </div>
  </div>
</div>
</center>







</body>

<% include ../partials/footer %>

  
 