<% include ../partials/header %>

<body style="background-image:url(/reviews.jpg)">
    
    <div  id="reviewBox">
  
    <h5 style="color: white">Post your comment bellow... </h5>  
    <ol>

 
</ol>
<br><br>
<input type="text" id="nameyyy" name="nameyyy" placeholder="Name">
<input type="text" id="comment" name="comment" placeholder="Leave a Comment..">
<br><br>
<button id="putUp">Post</button> 

  
  </div>
    
    
    
         
       </div>
    </div>
    <script> 
    $(document).ready(function(){
	$("#putUp").click(function(){
		$("ol").append("</br><li>"+nameyyy.value +": "+ comment.value + "</li>")
		
		});
		});
    
    </script>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</body>


<% include ../partials/footer %>