body {
    background-color: white;
    background-image: url("/faqs.jpg");
    background-repeat:no-repeat;
    background-size: cover;
  text-align: center;
    min-height:900px; /* we will remove this later */
}

header{
    width:60px;
		display: block;
		color: white;
		text-align: center;
		font-weight: bold;
		padding: 24px 26px;
		
}
