body {
    background-color: rgb(229, 246, 246);
   padding-top: 75;
    background-repeat:no-repeat;
    background-size: cover;
  text-align: center;
   
}
/******************BUTTON STYLING**********************************/
a{
	background-color: rgb(255, 69, 82); 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
}


ul {
	list-style-type: none;
	position: fixed;
	left: 0;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	overflow: hiddden;
	background-color:  rgba(300, 99, 71, 0.5);
	
	
}

li {
	float: left;
	
}

li a {
		width:150px;
		display: block;
		color: white;
		text-align: center;
		font-weight: bold;
		
 
}


li a:hover {
    background-color: rgb(255, 22, 48);
    color: white;
}


button{
	background-color: rgb(255, 69, 82); 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
}

button:hover {
    background-color: rgb(255, 22, 48);
    color: white;
}

/***********************************************************************************/

h1 {
    color: white;
    padding-top: 100px;
        
}

#reviewPost{
	margin-top:200px;
	margin-left:200px;
}

#created{
	margin-left: 200px;
	float: left;
	 background-color: #999;
	 
}

#inputBoxes{
	margin-left: 100px;
	text-align: left;
	color: black;

}

#reviewBox{
	margin-bottom: 200px;
	margin-left: 200px;
	margin-top: 200px;
	margin-right: 200px;
	
}

#individual{
	padding-left: 10px;
	padding-right: 10px;
	
	
}

#update{
	margin-left: 100px;
	text-align: left;
	color: black;
	
}


#form{
	margin-top: 100px;
	color: white;
}

#logo{
	float: right;
	padding-left: 650px;
	color: rgb(255, 22, 48);
}

#logoButton{
	margin-top:200px;
}

#submitButton{
	margin-left: 600px;
}